* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
 

    font-family: 'Lucida Sans', sans-serif;
    display: flex;
    height: 100vh;

    flex-direction: column;
    
}

header {
    display: flex;
    justify-content: space-between;
    padding: 5px 5px 10px 10px;
    position: fixed;
    width: 100% ;
    background-color: white;
}

header nav{
    gap: 12px;
    display: flex;
    width: 100%;
}

header nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-between;
    width: 100%;
}



main{
    margin: 100px 0 100px 0;
    height: 70vh;
    

}






.section {
    background-color: rgb(78, 136, 217);
    border: 1px solid black;
    display: flex;
    margin-bottom: 100px;
  

   
    
}



.uno {
    background-color: rgb(46, 174, 243);
    display: flex;
    border: 1px dashed black;
}

.due {
    background-image: url(img/jumbo.png);
    min-width: 40%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.container{
    display:  flex;
    justify-content: center;
    flex-wrap: wrap; 
    width: 80%;
    margin: 0px auto;

   



}

.schema{
    gap: 50px;
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;

}

.column{
    border: 1px solid black;
    width: 100%;
}


.section-middle{
   
    padding:  100px;
    border: 1px solid black;
    display: flex;
   
    margin-bottom: 100px;
}

.uno-middle{
    background-image: url(img/partner.png);
    min-width: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.due-middle{
   
    display: flex;
    border: 1px dashed black;
}


.schema-2, .schema-3{
    display: flex;
    
}

.business{
    margin-bottom: 100px;
}


.img-links{
    display: flex;
    justify-content: center;
    border: 1px red solid;
   
}


.img-bottom:hover {
    cursor: pointer;
    
}

.section-bottom{
    border: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction:column ;
}


.title-section{
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    flex-direction:column ;

}

.first-part{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}